.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.navigation {
    width: 100%;
}

.nav-item {
    background-color: lightgrey;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 33.33333%; /*fallback in case no calc*/
    width: calc(100%/3);
}